quartz.scheduler.instanceName = XmlConfiguredInstance
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 10

quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins
quartz.plugin.xml.fileNames = ~/quartz_jobs.xml
quartz.plugin.xml.FailOnFileNotFound = true
quartz.plugin.xml.failOnSchedulingError = true
quartz.jobStore.misfireThreshold = 60000

